page-home {
   ion-card {
      position: relative;
      text-align: center;
   }
   .blinking {
      animation: blinkingText 0.8s infinite;
   } 
   ion-header {
      background-color:white;
   }
   .ellipsis
  {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
  }
   .card-content card-content-ios {
      border-color: white;
      background-color: rgb(240, 245, 240);
   }
   
   div {
      background-color: rgb(175, 236, 196);
      color: white;
      border-color: white; // border-size:
   }
   @keyframes blinkingText {
      0% {
         color: rgb(238, 17, 17);
      }
      49% {
         color: transparent;
      }
      50% {
         color: transparent;
      }
      99% {
         color: transparent;
      }
      100% {
         color: rgb(238, 17, 17);
      }
   }
   .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
   }
   .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
   }
}