page-home {
   ion-card {
      position: relative;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
   }
   .card-background-page {
      white-space: nowrap;
   }
   .title title-ios
   {
      margin-bottom:20px;
   }
    .scroll-content {
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }
   .div {
      display: inline-block;
      white-space: nowrap;
   }
   .col {
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }
   .card {
      background-color: black;
      border-radius: 10px
   }
   .item-block {
      padding-left: 0px !important;
   }
   .item.inner {
      padding-right: 0px;
   }
   .col {
      margin-top: 5px;
      color: white;
   }
   .card-content {
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }
   .scroll-content {
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }
   .ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
   }
   div {
      //background-color: rgb(241, 28, 28); //   color: white;
      // border-color: white;
      border-width: 0px; // border-size:
   }
   .title {
      position: absolute;
      top: 40%;
      font-size: 0.5em;
      width: 100%;
      font-weight: bold; // color: #fff;
   }
   .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold; // color: #fff;
   }
   .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%; // color: #fff;
   }
}