<ion-header style="margin-bottom:15px ">
  <ion-navbar >
    <ion-title >
      News Room
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >


  <form>
    <button ion-button (click)="goToBit()"></button>
  <h1 (click)=goToApi(item)  >
    News of the World are here Today.Click here to get to know the news
  </h1>
  
    <ion-card *ngFor="let item of result;let i=index"  >
      
      <ion-card-content >
      <!-- <ion-item> -->
        <!-- <h2 class="ellipsis">{{_.first(item.title.split(" "))}}</h2> -->
        <!-- <ion-row>
          <ion-col style="padding-top: 0px;">
        <h2 >Jon Snow</h2>
        </ion-col>
        <ion-col style="text-align:right ;padding-right: 0px;padding-bottom: 0px;position:absolute;padding-left: 0px;top:0px;right:0px;">
          <ion-note>
          {{this.date2Var}}
            </ion-note>
        </ion-col>
        </ion-row> -->
      <!-- </ion-item> -->
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/jon.png">
        </ion-avatar>
        <!-- <h2>{{this.title1[i].title}}</h2> -->
        <h2>Shivam Dhawan</h2>
        <p>{{dateVar}}</p>
      </ion-item>
      <img [src]="item.thumbnailUrl" (click)="getView(item.id,item.title,item.thumbnailUrl,item.albumId,this.dateVar)" height=240 width=290/>
      </ion-card-content>
      <p class="title">{{item.title}}</p>
       <ion-row style="height:0.8cm">
       
        <!--<ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{item.albumId}} Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{item.id}} Comments</div>
          </button>
        </ion-col> -->
        <ion-col>
          <ion-note>{{this.date2Var}}</ion-note></ion-col>
        <ion-col center text-center>
        <ion-icon name="heart" color="default" (click)="getLike()">{{this.like}}</ion-icon>
         
        </ion-col>
        <ion-col><ion-icon name="eye" color="default">{{this.view}}</ion-icon>
          </ion-col>
          <ion-col (click)="getComment()">
            <div>
            <ion-icon name="chatboxes" color="default" > {{this.comment}}</ion-icon>
            </div>
          </ion-col>
      </ion-row>
    
    </ion-card>
    <div *ngIf="this.commentFlag">
    <ion-input type="text"  name="comment" ></ion-input>
    <button ion-button  (click)="setComment()">submit</button>
      </div>
      
  </form>
</ion-content>

