page-signup {
   .imagecontainer {
      position: fixed;
      text-align: center;
      color: white;
      background-color: purple;
   }
   .toolBar {
      text-align: center;
      color: white;
      background-color: purple;
   }
   
   .centered disable-hover button button-ios button-default button-default-ios button-round button-round-ios button-full button-full-ios button-ios-light,
   .centered disable-hover button button-ios button-default button-default-ios button-round button-round-ios button-full button-full-ios button-ios-light-ios,
   .centered disable-hover button button-ios button-default button-default-ios button-round button-round-ios button-full button-full-ios button-ios-light-md {
      position: absolute;
      top: 350px;
   }
}